# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables & Secrets
.env
server/.env
*.env.local

# Build outputs
client/dist
client/build

# Editor & System logs
.DS_Store
*.log
npm-debug.log*